main{
	margin:20px;
	text-align:center;
}
body{
	overflow:scroll;
}
#pupmap{
	height:575px;
	width:960px;
}
#modal{
	display:none;
	position:absolute;
	height:250px;
	width:200px;
	background-color:#E1C16E;
	overflow:hidden;
	text-align:center;
	border-style: solid;
	border-radius: 15px 50px;
}
#container{
	margin-top: 20px;
	margin-left: 20%;
	margin-right: 20%;
	padding:2%;
}
#pic{
	height:70px;
	width:100px;
}
